<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
function textAreaAdjust(o) {
    o.style.height = "1px";
    o.style.height = (25+o.scrollHeight)+"px";
}
</script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
   <style type="text/css">
	textarea {
   	font-size: 16pt;
   	font-family: Arial;
	}
    </style> 
  <script type=text/javascript>
    $(function() {
      $('a#search').bind('click', function() {
        $.getJSON('/_updateXY', {
          searchtxt: $('textarea[name="searchtxt"]').val(),
          b: $('input[name="b"]').val()
        }, function(data) {
          $("#data_piechart").text(data.data_piechart);
        });
        return false;
      });
    });
     </script>
  
  <script type=text/javascript>
    $(function() {
      $('a#calculate').bind('click', function() {
        $.getJSON('/_add_numbers', {
          a: $('textarea[name="a"]').val(),
          b: $('input[name="b"]').val()
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
      });
    });
     </script>

        <meta charset="utf-8" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>
        
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Emojify with JSON</h3>
      </div>
      <hr/>
      <div>
      <p>
     <textarea name="a" rows="3" cols="30">Enter Text</textarea>
     <a class="btn btn-lg btn-success" "javascript:void();" id="calculate" role="button">Emojify</a>
      <p>
      <textarea id="result" rows="25" cols="100"></textarea>
      <p>
      </form>
      </div>
    </div>
    
    <div>
    <h1>Search Word</h1>
          <p>
     <textarea name="searchtxt" rows="1" cols="30">Dog</textarea>
     <a class="btn btn-lg btn-success" "javascript:void();" id="search" role="button">Search</a>
      <p>
       <p>
      <textarea id="data_piechart" rows="5" cols="100"></textarea>
      <p>
    <div id="piechart"><svg style="width:800px;height:800px;"></svg></div>
   </div>

    <script>

    //data_piechart=[{"values": [{"value": 147, "label": "\ud83d\ude02"}, {"value": 71, "label": "\ud83d\udc36"}, {"value": 34, "label": "\ud83d\ude2d"}, {"value": 33, "label": "\ud83d\ude0a"}, {"value": 19, "label": "\ud83d\ude0d"}, {"value": 14, "label": "\u2764\ufe0f"}, {"value": 11, "label": "\u2728"}, {"value": 10, "label": "\ud83d\udc80"}, {"value": 9, "label": "\ud83d\udc4f"}, {"value": 9, "label": "\ud83d\ude29"}, {"value": 9, "label": "\ud83d\udc95"}, {"value": 8, "label": "\ud83d\ude05"}, {"value": 7, "label": "\ud83d\ude44"}, {"value": 7, "label": "\ud83d\ude39"}, {"value": 6, "label": "\ud83d\udc3e"}], "key": "Serie 1"}];

    nv.addGraph(function() {
        var chart = nv.models.pieChart();
        chart.margin({top: 30, right: 60, bottom: 20, left: 60});
        var datum = data_piechart[0].values;

        chart.color(d3.scale.category20c().range());

    chart.tooltipContent(function(key, y, e, graph) {
          var x = String(key);
              var y =  String(y)  + ' cal';

              tooltip_str = '<center><b>'+x+'</b></center>' + y;
              return tooltip_str;
              });
        chart.showLabels(true);

            chart.donut(false);

    chart.showLegend(true);

        chart
            .x(function(d) { return d.label })
            .y(function(d) { return d.value });

        chart.width(800);

        chart.height(800);

            d3.select('#piechart svg')
            .datum(datum)
            .transition().duration(500)
            .attr('width', 800)
            .attr('height', 800)
            .call(chart);
            
        //increase fontsize
            d3.selectAll(".nv-label text")
            .attr("text-anchor", "middle")
            .style({"font-size": "50px"});
            //.attr('transform', 'scale(1.5) translate(-5,0)');
            
            //select legend
            d3.selectAll(".nv-legendWrap")
            .style({"font-size": "50px"});

        });

    </script>
  </body>
</html>
