<!DOCTYPE html>
<html lang="en">
  <head>
  <title> The Emoji Thesaurus </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
        rel="stylesheet">

  <link rel='stylesheet' type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">

  <script type=text/javascript>
    $(function() {
    $('#getCon').click(function() {
        $.getJSON('/_context', {
          a: $('input[id="context"]').val(),
          lang: $('select[id="user_lang"]').val()
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
      });
    });
    
  </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
<ul>
  <li><a class="active" href="/">Emojivec</a></li>
  <li><a class="active" href="/emojisaurus">Emojisaurus</a></li>
  <li><a href="/skin">Emoji Skins</a></li>
  <li><a href="/stats">Emoji Stats</a></li>
  <li><a href="/emoji_context">Emoji Context</a></li>
  <li><a href="/emojify">Emojify</a></li>
  <li><a href="/web">Emoji Web</a></li>
  <li><a href="/emoji_art">Emoji Art</a></li>
 <a class="header-logo-invertocat" href="https://github.com/attdobi" data-hotkey="g d" aria-label="Git" data-ga-click="Header, go to dashboard, icon:logo" style="float:right">
<img alt="" class="gh-mark" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width="30">
</a>
  <a href="https://www.linkedin.com/in/attiladobi" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;float:right;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="40" height="30" alt="View Attila Dobi's LinkedIn profile" style="vertical-align:middle;" border="0"></span></a>

</ul>
        <h3 class="text-muted">Emoji Context🦄</h3>
      </div>
      <hr/>
<h6> 
     <p>
    <label for="lang"
          style="display: inline-block; width: 160px; text-align: right; font-size:12pt">
    Enter emoji or word:
    </label>
    <input type = "text" 
       id = "context"
       value = "finna"
      onkeypress="if (event.keyCode==13){window.onload()};"
      />
      
     <a class="btn btn btn-success" "javascript:void();" id="getCon" role="button">Get Context</a>
          <label for="lang"
          style="display: inline-block; width: 140px; text-align: right; font-size:12pt">
        Select Language
     </label>
		<select id="user_lang" name="user[lang]" onchange="window.onload();" style="background-color:green;font-size:11pt">
		  <option value="all">All</option>
		  <option value="id">Bahasa Indonesia - Indonesian</option>
		  <option value="msa">Bahasa Melayu - Malay</option>
		  <option value="ca">Català - Catalan</option>
		  <option value="cs">Čeština - Czech</option>
		  <option value="da">Dansk - Danish</option>
		  <option value="de">Deutsch - German</option>
		  <option value="en" selected="">English</option>
		  <option value="en-gb">English UK - British English</option>
		  <option value="es">Español - Spanish</option>
		  <option value="eu">Euskara - Basque (beta)</option>
		  <option value="fil">Filipino</option>
		  <option value="fr">Français - French</option>
		  <option value="ga">Gaeilge - Irish (beta)</option>
		  <option value="gl">Galego - Galician (beta)</option>
		  <option value="hr">Hrvatski - Croatian</option>
		  <option value="it">Italiano - Italian</option>
		  <option value="xx-lc">LOLCATZ - Lolcat (beta)</option>
		  <option value="hu">Magyar - Hungarian</option>
		  <option value="nl">Nederlands - Dutch</option>
		  <option value="no">Norsk - Norwegian</option>
		  <option value="pl">Polski - Polish</option>
		  <option value="pt">Português - Portuguese</option>
		  <option value="ro">Română - Romanian</option>
		  <option value="sk">Slovenčina - Slovak</option>
		  <option value="fi">Suomi - Finnish</option>
		  <option value="sv">Svenska - Swedish</option>
		  <option value="vi">Tiếng Việt - Vietnamese</option>
		  <option value="tr">Türkçe - Turkish</option>
		  <option value="el">Ελληνικά - Greek</option>
		  <option value="bg">Български език - Bulgarian</option>
		  <option value="ru">Русский - Russian</option>
		  <option value="sr">Српски - Serbian</option>
		  <option value="uk">Українська мова - Ukrainian</option>
		  <option value="he">עִבְרִית - Hebrew</option>
		  <option value="ur">اردو - Urdu (beta)</option>
		  <option value="ar">العربية - Arabic</option>
		  <option value="fa">فارسی - Persian</option>
		  <option value="mr">मराठी - Marathi</option>
		  <option value="hi">हिन्दी - Hindi</option>
		  <option value="bn">বাংলা - Bengali</option>
		  <option value="gu">ગુજરાતી - Gujarati</option>
		  <option value="ta">தமிழ் - Tamil</option>
		  <option value="kn">ಕನ್ನಡ - Kannada</option>
		  <option value="zh-tw">繁體中文 - Traditional Chinese</option><option value="th">ภาษาไทย - Thai</option>
		  <option value="ko">한국어 - Korean</option>
		  <option value="ja">日本語 - Japanese</option>
		  <option value="zh-cn">简体中文 - Simplified Chinese</option>
		</select>
     </p>
     <p> Examples: finna, Trump, 🍆 , 💩, 🌮 , 🦄 (what is wrong with this generation?) </p>
</h6>
		<pre class="box">
      <h4 id="result"></h4>
      </pre>
    </form>
    </div>
  </body>
</html>

<script>
window.onload = function(){
document.getElementsByClassName("btn btn btn-success")[0].click();}
</script>