<!DOCTYPE html>
<html lang="en">
  <head>
  <title> The Emoji Thesaurus </title>
  <meta charset="utf-8" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
   <style type="text/css">
    html {-webkit-text-size-adjust:none}
    textarea {
    font-size: 16pt;
    font-family: Arial;
    }
    svg text {
     font: normal 50px Impact;
    }
    div text {
     font: normal 50px Impact;
    }
    .nv-label text{
    font-size:50px;
    }
    </style> 
  <script type=text/javascript>
    $(function() {
      $('a#calculate').bind('click', function() {
        $.getJSON('/_add_numbers', {
          a: $('textarea[name="a"]').val()
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
      });
    });
  </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Themoji (the emoji thesaurus) 🦄</h3>
      </div>
      <hr/>
      <p>
    Enter word or phrase:
    <input type = "text" 
       id = "word"
       value = "Spring"
      onkeypress="if (event.keyCode==13){make_graph()};"
      />
    <label for="face_select"
          style="display: inline-block; width: 140px; text-align: right">
        Face Filter
      </label>
      <select id="face_filter" onchange="update_url()">
        <option value="off">Include Faces</option>
        <option value="on">Remove Faces</option>
      </select>
    <label for="freq_select"
          style="display: inline-block; width: 140px; text-align: right">
        Frequency Filter
      </label>
      <select id="freq_filter" onchange="update_url()">
        <option value="off">All in Tweet</option>
        <option value="on">Most Frequent in Tweet</option>
      </select>
     </p>
     <div id="piechart"><svg style="width:550px;height:550px;font: normal 50px Impact;"></svg></div>
    <script>
    
    var URL_BASE = "http://52.33.224.12/db";
// Update graph in response to inputs 
//this updates continuously as text is entered
//d3.select("#word").on("input", make_graph);
 d3.select("#freq_filter").on("input", make_graph);
 d3.select("#face_filter").on("input", make_graph);

// Return url to recieve csv data with query filled in from input fields
function update_url() {
  return URL_BASE +"?word=" + document.getElementById("word").value +
  			"&freq_filter=" + document.getElementById("freq_filter").value + 
  			"&face_filter=" + document.getElementById("face_filter").value;
}
   
function make_graph() {
  url = update_url()
  
  d3.json(url, function(error, data) {

    nv.addGraph(function() {
        var chart = nv.models.pieChart();
        chart.margin({top: 30, right: 60, bottom: 20, left: 20});
        var datum = data.values;
        //var datum = data_piechart;

        chart.color(d3.scale.category20c().range());

    chart.tooltipContent(function(key, y, e, graph) {
          var x = String(key);
              var y =  String(y) +'';

              tooltip_str = '<center><b>'+x+'</b></center>' + y;
              return tooltip_str;
              });
        chart.showLabels(true);

            chart.donut(false);

       chart.showLegend(true);

        chart
            .x(function(d) { return d.label })
            .y(function(d) { return d.value });

        chart.width(600);

        chart.height(600);

            d3.select('#piechart svg')
            .datum(datum)
            .transition().duration(500)
            .attr('width', 600)
            .attr('height', 600)
            .call(chart);
        
            //increase fontsize
            d3.selectAll(".nv-label text")
            .attr("text-anchor", "middle");
            //.style({"font-size": "50px"});
            //.attr('transform', 'scale(1.5) translate(-5,0)');
            
            //select legend
            d3.selectAll(".nv-legendWrap")
            .style({"font-size": "20px"});
            
        });
    });
}
make_graph();
</script>
      
      
      <hr/>
      <div>
      <p>
     <textarea name="a" rows="3" cols="30"> </textarea>
     <a class="btn btn-lg btn-success" "javascript:void();" id="calculate" role="button">Emojify</a>
      <p>
      <textarea id="result" rows="8" cols="60"></textarea>
      </form>
  </body>
</html>
